.CodeMirror {
  height: auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.CodeMirror-scroll {
  max-height: 90vh;
}

.CodeMirror-activeline [title] {
  position:relative
}

.clearfix
  clear:both

.CodeMirror-activeline [title].cm-matchhighlight:after {
  content: attr(title);
  padding: 4px 8px;
  color: #333;
  position:absolute;
  white-space: nowrap;
  left: 30%;
  top: -180%;
  border-radius: 5px;
  box-shadow: 0px 0px 4px #222;
  color: #999;
  background-color : white;
}

.right.floating
  float:right

.center.aligned
  text-align:center

#commands-container
  float:right
  height:2rem

#commands:hover
  position:absolute
  right:0px
  z-index:10

.CodeMirror-focused .cm-matchhighlight {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==');
  background-position: bottom;
  background-repeat: repeat-x;
}

.fade.ng-hide-add, .fade.ng-hide-remove {
  /* this is required as of 1.3x to properly
     apply all styling in a show/hide animation */
  transition:0s linear all;
  display: block!important
}

.ui.transition {
  animation-duration: 0.2s;
}

.fade.ng-hide-add-active,
.fade.ng-hide-remove-active {
  /* the transition is defined in the active class */
  transition:0.2s ease all;
}

.fade.ng-hide {
  opacity: 0;
  display:none;
}
