<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="styles/vendor-7dfd98b7.css">
    <link rel="stylesheet" href="styles/main-62b26e34.css">
    <title>snapper</title>
  </head>
  <body ng-app="app">
    <div ng-class="{active:authOpen}" class="ui dimmer page">
      <div class="ui modal transition visible">
        <h3 class="header">Authentication required</h3>
        <form class="content ui form">
          <div class="field">
            <label>Username:</label>
            <input type="text" ng-model="username">
          </div>
          <div class="field">
            <label>Password:</label>
            <input type="password" ng-model="password">
          </div>
          <div class="actions">
            <button ng-click="setAuth()" class="ui green button">Ok</button>
            <button ng-click="dismissAuth()" class="ui red button">Cancel</button>
          </div>
        </form>
      </div>
    </div>
    <main ui-view=""></main>
    <script src="scripts/vendor-571f4501.js"></script>
    <script src="scripts/main-c5b1cac8.js"></script>
  </body>
</html>