a(href="https://github.com/jiemakel/snapper")
  img(style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png")
.ui.page.grid
  .column
    h1.ui.header.center.aligned Snapper Turtle Editor 
    .ui.segment
      .ui.floating.error.message.fade.transition(ng-show="showError",ng-click="showError=false")
        i.close.icon
        .header {{errorSource}} returned error {{errorStatus}}:
        |{{errorMessage}}
        br 
        |for request:
        br
        |{{errorRequest}}
      .ui.form
        #commands-container
          #commands.ui.segment.teal.label(style="",ng-mouseenter="showCommands=true",ng-mouseleave="showCommands=false")
            i.right.floating.icon.info  Keyboard commands
            .ui.small.bulleted.list(ng-show="showCommands")
              .item(ng-repeat="command in commands") {{command.key}}: {{command.command}}
        .field
          label Editor
          div(ui-codemirror='{ onLoad : codemirrorLoaded }', ui-codemirror-opts='editorOptions', ng-model='data')            
        .field
          label Graph IRI
          input(type='text', list='graphIRIs', ng-model='graphIRIInput',style='width:20em')
          datalist(id='graphIRIs')
            option(ng-repeat="graph in graphs",label="{{graph.triples.value | number}} triples") {{graph.graphIRI.value || 'default'}}
        .field
          button.ui.green.button(ng-class='loading ? "loading" : ""' ng-click='loadGraph()') Load
          button.ui.orange.button(ng-class='inserting ? "loading" : ""' ng-click='postGraph()') Insert
          button.ui.red.button(ng-class='replacing ? "loading" : ""' ng-click='putGraph()') Replace
        .ui.three.column.grid
          .field.column(ng-class="{ 'error': !restEndpointInputValid }")
            label SPARQL graph store protocol endpoint
            input(type='text', ng-model='restEndpointInput',ng-blur='restEndpoint = restEndpointInputValid ? restEndpointInput : restEndpoint')
          .field.column(ng-class="{ 'error': !sparqlEndpointInputValid }")        
            label SPARQL query endpoint
            input(type='text', ng-model='sparqlEndpointInput',ng-blur='sparqlEndpoint = sparqlEndpointInputValid ? sparqlEndpointInput : sparqlEndpoint')
          .field.column(ng-class="{ 'error': !sparulEndpointInputValid }")        
            label SPARQL update endpoint
            input(type='text', ng-model='sparulEndpointInput',ng-blur='sparulEndpoint = sparulEndpointInputValid ? sparulEndpointInput : sparulEndpoint')
      button.tiny.ui.button(ng-click='showConfiguration=!showConfiguration') Configure queries
      .ui.segment(ng-show="showConfiguration")
        .ui.header Configure SPARQL queries
        .content(style='max-height:100%;overflow:scroll;display:block;')
          .ui.form
            .field
              label Label query
              div(id="labelQuery")
            .field
              label Load resource query
              div(id="describeQuery")
            .field
              label Delete resource(s) query
              div(id="deleteResourceQuery")
            .field
              label Subject label autocompletion query
              div(id="subjectLabelQuery")
            .field
              label Property label autocompletion query
              div(id="propertyLabelQuery")
            .field
              label Object label autocompletion query
              div(id="objectLabelQuery")
            .field
              label Subject IRI autocompletion query
              div(id="subjectIRIQuery")
            .field
              label Property IRI autocompletion query
              div(id="propertyIRIQuery")
            .field
              label Object IRI autocompletion query
              div(id="objectIRIQuery")
            .field
              button.ui.green.button(ng-click='loadLooseDefaults()') Load loose defaults
              button.ui.orange.button(ng-click='loadStrictDefaults()') Load strict defaults

